/*CSS reset settings here*/
*{
    margin: 0px;
    padding: 0px;
    outline: 0px dotted red;
   }

.content{
    margin: 0 auto;
    width: 980px;
    height: 500px;
    background-color: rgb(226, 223, 223);
    padding-top: 8px;
    padding-left: 4px;
}
header{
    background-color: rgb(226, 223, 223);
}
header p{
    display: inline-block;
    vertical-align: bottom;
    width: 46px;
    height: 40px;
    text-align: center;
    color: red;
    font-size: 13px;
}
header .celda{
    color: red;
    font-size: 13px;
}
.espacio{
    padding-left: 8px;
}
.tabla{
    width: 46px;
    display: inline-block;
}
.tabla .celda{
    color: red;
    font-size: 13px;        
}
.centrado div{
    padding-top: 16px;
    height: 26px;
}
.fondo{
    background-color: rgb(226, 223, 223);
    margin: auto;
    padding-left: 15px;
}
.celda{
    display: inline-block;
    vertical-align: top;
    width: 46px;
    height: 42px;
    margin: 2px 0px 2px 0px;
    text-align: center;
}
.col{
    width: 100px;
    display: inline-block;
    vertical-align: top;
}
.blue{
    background-color: rgb(88, 197, 233);
}
.col p{
    font-size: 10px;
}
.col h1{
    font-size: 15px;
}
.colum{
    width: 496px;
    display: inline-block;
    vertical-align: bottom;
    padding-left: 5px;
}
.colum p{
    font-size: 10px;
}
.colum h1{
    font-size: 15px;
}
.rosado{
    background-color: rgb(214, 108, 166);
}
.colum3{
    width: 297px;
    display: inline-block;
    vertical-align: bottom;
}
.colum3 p{
    font-size: 10px;
}
.colum3 h1{
    font-size: 15px;
}
.amarillo{
    background-color: orange;
}
.vacio{
    margin: 0px 2.4px 0px 0px;
    visibility: hidden;
}
.col2{
    width: 87px;
    display: inline-block;
    vertical-align: top;
    padding-left: 49px;
    font-size: 12px;
    margin-top: 38px;
    color: red;
}
.col3{
    width: 16px;
    display: inline-block;
    text-align: right;
    vertical-align: top;
    font-size: 12px;
    margin-top: 38px;
    color: red;
}
.colum4{
    width: 697px;
    display: inline-block;
    vertical-align: bottom;
    margin-top: 21px;
}
.colum4 p{
    font-size: 10px;
}
.colum4 h1{
    font-size: 15px;
}
.amarillo{
    background-color: orange;
}
.verde{
    background-color: rgb(28, 240, 28);
}
h1{
    color: rgb(9, 9, 146);
}